einops
matplotlib
open-clip-torch
PyYAML
scikit-image
scikit-learn
scipy
tensorboard
timm
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
clip
pandas
accelerate>=0.26.0
opencv-python
openai
gradio
sentencepiece